* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #1E1E24;
  --text-color: #E0E0E0;
  --heading-color: #FCFCFC;
  --accent-color: #49bbf4;
  --accent-color2: #16a9f3;
  --hover-color: #f1bc4b;
  --error: #f80808;
  --active-color: #eaac26;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}