@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #1e1e24;
  --text-color: #e0e0e0;
  --heading-color: #fcfcfc;
  --accent-color: #49bbf4;
  --accent-color2: #16a9f3;
  --hover-color: #f1bc4b;
  --error: #f80808;
  --active-color: #e09b06;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
